body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to right bottom, lightgreen, lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 1.875rem;
  font-weight: 500;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
.btn {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}
.btn {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  margin: 10px 0;
  text-align: left;
  border: 1px solid #222;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #222;
  color: #fff;
}
#button-next {
  background-color: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin: 20px auto 0;
  cursor: pointer;
  display: none;
}
